<?php

return (new MattAllan\LaravelCodeStyle\Config())
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->in('**.php')
    )
    ->setRules([
        '@Laravel' => true,
        '@Laravel:risky' => true,
    ])
    ->setRiskyAllowed(true);
