includes:
  - ./vendor/larastan/larastan/extension.neon
parameters:
  paths:
    - src
    - tests
  excludePaths:
    - src/Factory.php
  level: max
  checkMissingIterableValueType: true
  checkGenericClassInNonGenericObjectType: false
